*{margin:0; padding:0;}

body{
	position: relative;
/*	font-family: Lucida,Helvetica, Arial, sans-serif;*/
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 16px;
	line-height:1.28;
	direction:ltr;
	color:#FFFFFF;

	width: auto;
	margin: 0 auto;
	padding: 0px;	
}

a{color: #3B5998 }
a:link {text-decoration:none; }    /* unvisited link */
a:visited {text-decoration:none;} /* visited link */
a:hover {text-decoration:underline;}   /* mouse over link */
a:active {text-decoration:none;}  /* selected link */
a:focus{outline: none; }  /* tira a borda tracejada que aparece quando o link é clicado */

.notification{
	position:relative;
	width: 800px;
	margin: 5px auto;
	background-color:#3EB489;
	text-align: center;
	font-weight: bold;

	padding:5px;

	/* opacity */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.7;
	
	-moz-border-radius: 0em 4em 0em 4em;
	-webkit-border-radius: 0em 4em 0em 4em;
	border-radius: 0em 4em 0em 4em;
}

.notification a{
	color: #FFFFFF;
}

.details-offer{
	position:relative;
	bottom: 5.6em;
	left: 5em;
	width: 140px;
	font-size:18px;
	margin: auto auto;
	background-color:#3EB489;
	text-align: center;
	font-weight: bold;
	padding:8px;

	/* opacity */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.7;
	
	-moz-border-radius: 1em 2em 1em 2em;
	-webkit-border-radius: 1em 2em 1em 2em;
	border-radius: 0em 4em 0em 4em;
}

.details-offer a{
	color: #FFFFFF;
}

.details-offer a:hover{
	text-decoration: none;
}

.details-offer a:active{
	text-shadow: 0 0 1em #000;
}
.span_site_name{
	position:relative;
	bottom: 4.0em;
	left: 18.5em;
	font-size: 12px;	
	color:#3B5998;
}

.fundo1{
/*	background-color: #ABC4D9;*/ 
	background-color: #3B5998;
/*	background-image: linear-gradient(bottom, rgb(171,27,27) 0%, rgb(212,51,51) 100%);
	background-image: -o-linear-gradient(bottom, rgb(171,27,27) 0%, rgb(212,51,51) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(131,23,27) 0%, rgb(212,51,51) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(171,27,27) 0%, rgb(212,51,51) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(171,27,27) 0%, rgb(212,51,51) 100%);*/

}

.title{
	font-size: 2em;
	text-align: center;
	color:#FFFFFF;
}
.title a:hover{
	decoration: none;
}

.subtitle{
	font-size: 1em;
	text-align: center;
}

.betav{
	text-align:center;
	color: #F3F3F3;
	font-size: 10px;
}

#sites-offers{
	position: relative;
	text-align:center;
	width:380px;
	height: 70px;
	margin: 10px auto;
	color: #F3F3F3;

}

.sites-offers-names{
	position: relative;
	float: left;
	margin: 0 5px;
}

#offers{
	position: relative;
	float: left;
	left: 40px;
	width: 640px;
}

.offer{
	position: relative;
	width: 100%;
}

.offer + .offer {
	margin-top: 15px;
}

.img-offer{
/*	float: left;*/
	height: 160px;
	width: 210px;
}

.price-offer{
	
}

.link-offer{

}

.title-offer{
	position: relative;
	margin-top: 5px;
	font-size: 18px;
}

#more-offers{
    position: relative;
	left: 50%;
    padding: 6px;
    width: 6em;
}

#nomore-offers{
	width: 640px;	
}

#share-button{
	position: relative;
	left: 0;
	font-size: 12px;
	bottom: 3.8em;
}

.share-panel{
	display:none;
}

.button{
	background-color: #3B5998;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	border-radius: 2em;	
    font-size: 18px;
	font-weight: bold;
   	text-align: center;
	cursor: pointer;

	border: 1px solid #0076A3;
	padding: 5px;
	color:#FFFFFF;
}

.button:active{
	text-shadow: 0 0 1em #000;		
}

#content{
	position: relative;
	width: 980px;
	margin: 15px auto;
	
}

#side1{
	position: relative;	
	float: left;
	width: 240px;
	margin: 0 10px 0 10px;
}

#side2{
	position: relative;
	float: right;
	width: 250;
	height: 300px;
	margin: 0 10px 0 10px;
}

#banner1{
	width: 250px;
	height: 300px;
	background-color: #3B5998;
}

#facebook-plugin{
	width: 240px;
	margin: 10px 0 20px 0;
}

#footer{
	position: relative;
	margin: 10px auto;
	width: 80%;
	color: #555555;
}

#footer a{
	position: relative;
	text-align: center;
	color: #555555;
}

#minabout-site{
	position: absolute;
	right: 10px;
	top: 10px;
	width:40%;
}

#useful-links{
	position: relative;
	margin: 10px 10px;
	width:30%;
}

form{
	position: relative;
	float: left;
	width:640px;
	font-size:18px;
	color:#555555;
}

form input, textarea, select, button{
	padding: 5px;
	margin: 20px 20px;
}
