{% extends "base.html" %}

{% block main_content %}
	<form method="post" id="faleconosco">
		<label for="name"> Nome </label>
		<input name="name" type="text" /> <br />
		<label for="email"> Email </label> 
		<input name="email" type="text" /> <br />
		<label for="subject"> Assunto </label>
		<select name="subject">
			<option> Sugestões </option>
			<option> Críticas </option>
			<option> Elogios </option>
			<option> Problemas com Loja </option>
			<option> Ofertas com Erro </option>
		</select><br />		
		<label for="message"> Mensagem </label>
		<textarea style="vertical-align:top;" name="message" rows="5" cols="80"></textarea><br />
		<button onclick="javascript:alert('Obrigado por contribuir conosco!');"> Enviar </button>
	</form>
	<div style="clear:both;"></div>
{% endblock main_content %} 


